SQLLogin {
    org.apache.openejb.core.security.jaas.SQLLoginModule required
		digest="MD5"
    	dataSourceName="mssql-m2mng-ds"
    	userSelect="SELECT username, passwd as password FROM users WHERE username = ? and active = 'ACTIVE'"
    	groupSelect="SELECT username, role FROM users WHERE username = ?";
};